In [267]:
# Question no.1 
#Please remove the dots in the names, so it may become easier for you to work through it. 

import pandas as pd
import csv
import re
data= pd.read_csv("hospitaldata.csv")
print list(data)
print ("\n")
data.head()
data.columns = data.columns.str.replace(".","")
data.head()

['Date', 'id', 'Time', 'Age', 'Sex', 'Consulting..Doctor', 'Specialty', 'Procedure', 'Total..Charges', 'Amount..Received.', 'Amount..Balance', 'Amount.Received.By', 'Amount.in.Hospital', 'Receptionist..Name', 'Next.Apt']

,Date,id,Time,Age,Sex,ConsultingDoctor,Specialty,Procedure,TotalCharges,AmountReceived,AmountBalance,AmountReceivedBy,AmountinHospital,ReceptionistName,NextApt
0,"Sunday, January 01, 2017",101,11:00,40,F,Dr Kinza Alam,Gynae,C Section,30000,30000.0,-,Mrs Shamsa,NaN,Hamza,NaN
1,"Monday, January 02, 2017",150,10:45AM,26,M,Nursing Staff,NaN,Dressing,1500,1500.0,-,Dr Saniya,NaN,Haris,NaN
2,"Monday, January 02, 2017",58,12:38PM,30,F,Dr Riffat Naheed,Psychotherapist,Consultation,1000,1000.0,-,Mrs Shamsa,300.0,Fiza,NaN
3,"Monday, January 02, 2017",75,1:00PM,40,M,Dr Riffat Naheed,Psychotherapist,Consultation,1500,1500.0,-,Mrs Shamsa,450.0,Zaheer,NaN
4,"Monday, January 02, 2017",97,2:45PM,27,M,Dr Riffat Naheed,Psychotherapist,Consultation,2000,2000.0,-,Mrs Shamsa,600.0,Haris,NaN

In [236]:
# Question no.2 
# Which day of the week is expected to have most visits?

subdf = pd.DataFrame(df.Date.str.split(',',1).tolist(),columns = ['Day', 'Date'])
most_freq_visit = max(subdf.Day.value_counts().iteritems(), key=lambda x: x[1]) 
print most_freq_visit[0], most_freq_visit[1]

Monday 51

In [209]:
# Question no. 3
#What is the average age of patients?

import pandas as pd
import numpy as np
df = data
print df.columns
x= df['Age'] 
print x.replace("-", "NA")
xupdated = pd.to_numeric(x, errors='coerce')
print np.mean(xupdated)

Index([u'Date', u'id', u'Time', u'Age', u'Sex', u'ConsultingDoctor',
       u'Specialty', u'Procedure', u'TotalCharges', u'AmountReceived',
       u'AmountBalance', u'AmountReceivedBy', u'AmountinHospital',
       u'ReceptionistName', u'NextApt'],
      dtype='object')
0       40
1       26
2       30
3       40
4       27
5       40
6       43
7       28
8        2
9       40
10      32
11      28
12      76
13      75
14      36
15      42
16      23
17      48
18      25
19      50
20      60
21      NA
22      NA
23      26
24      27
25      NA
26      57
27     NaN
28      39
29       6
      ...
192     45
193     17
194     22
195     30
196     17
197     38
198     17
199     34
200     28
201     78
202     56
203     53
204     21
205     17
206    NaN
207     78
208      3
209     76
210      9
211     32
212    NaN
213     NA
214     24
215      3
216     76
217    NaN
218     39
219     30
220     76
221     45
Name: Age, dtype: object
32.734375

In [210]:
#Question no. 4
# How many children were entertained? (Make a Bracket of Age from 1-12)

import pandas as pd
df = data
x= df['Age'] 
x.replace("-", "NA")
xupdated = pd.to_numeric(x, errors='coerce')
four = list(filter(lambda x: x < 12, xupdated))
print len(four)

23

In [211]:
#Question no. 5
#Which gender type had what kind of procedure in abundance? i.e. Female visit mostly because of Gynae Problem

df['Sex'] = map(lambda x: str(x).upper(), df['Sex'])
print df.groupby(['Sex']).Specialty.value_counts()

Sex  Specialty
-    Child Specialist       1
F    Dentist               57
     Gynae                 13
     M/o                    7
     Orthopedic             5
     Psychotherapist        4
     Child Specialist       3
     Radiologist            3
     General Surgeon        2
     Dental                 1
     ENT                    1
     Medical Specialist     1
M    Dentist               46
     Psychotherapist       10
     M/o                    8
     Child Specialist       7
     Orthopedic             3
     Radiologist            3
     General Surgeon        2
     Medical Specialist     2
     Anaesthetist           1
     Dermatologist          1
Name: Specialty, dtype: int64

In [212]:
#Question no. 6
# Which Doctor is earning highest?

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
print df.groupby(['ConsultingDoctor']).TotalCharges.aggregate(np.sum).idxmax(), " earns ", df.groupby(['ConsultingDoctor']).TotalCharges.aggregate(np.sum).max()

Dr Alaf Khan  earns  513050.0

In [213]:
# Question no. 7
# Which procedure type earns more money?
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
print 
print df.groupby(['Procedure']).TotalCharges.aggregate(np.sum).idxmax(), " earns ", df.groupby(['Procedure']).TotalCharges.aggregate(np.sum).max()

Orthodontics  earns  240000.0

In [271]:
# Question no. 8
# Which time of the day has highest frequency of visits by hour?
print df.Time.unique()

['11:00AMAMAMAMAMAM' '10:45AM' '12:38PM' '1:00PM' '2:45PM' '3:00PM'
 '3:28PM' '3:45PM' '5:00PM' '5:30PM' '3:25PM' '6:10PM' '11:45PM' '12:40PM'
 '8:10PM' '8:30PM' '2:00PM' '12:30PM' '1:30PM' '' '8:15PM' nan '12:36PM'
 '2:30PM' '3:15PM' '5:20PM' '3:50PM' '6:00PM' '4:30PM' '02:00PM' '11:20AM'
 '8:00PM' '6:30PM' '9:00PM' '6:20PM' '11:25AM' '11:15AM' '1:10PM' '3:30PM'
 '6:15PM' '9:40PM' '12:00PM' '11:00AM' '10:15AM' '1:20PM' '12:15PM'
 '1:15PM' '4:50PM' '2:10PM' '12:50PM' '5:40PM' '6:45PM' '9:45PM' '5:35PM'
 '6:50PM' '1:40PM' '1:25PM' '4:45PM' '4:00PM' '7:30PM' '7:45PM' '2:15PM'
 '10:13AM' '2:40PM' '10:00AM' '9:30AM' '7:00PM' '4:20PM' '5:57PM' '7:15PM'
 '3:40PM' '7:02PM' '11:40AM' '4:10PM' '11:30AM' '10:15PM' '7:11PM'
 '10:10PM' '1:55PM' '1:50PM' '9:30PM' '12:20PM' '10:30PM' '7:10PM'
 '12:48PM' '7:05PM' '5:45PM' '7:40PM' '9:35PM' '10:00PM' '6:55PM' '9:00AM'
 '10:20AM' '11:20PM']

In [272]:
# Question no. 9
# Create a bracket of time by Morning, Afternoon, Evening, Night
df.Time [0] = df.Time[0] + "AM"
df.Time = df.Time.replace('-',np.nan)
# Now we convert Time to standard time
df.Time = pd.to_datetime(df.Time,format = '%I:%M%p')
df['Hour'] =df.Time.dt.hour
df['Hour'] = pd.to_numeric(df.Hour,errors='coerce')

def getBracket(time):
    d = pd.to_datetime(time)
    if time >=pd.to_datetime('1900-01-01 06:00:00') and time <=pd.to_datetime('1900-01-01 12:00:00'):
        return 'Morning'
    elif time >=pd.to_datetime('1900-01-01 12:00:00') and time <=pd.to_datetime('1900-01-01 16:00:00'):
        return 'Afternoon'
    elif time >=pd.to_datetime('1900-01-01 16:00:00') and time <=pd.to_datetime('1900-01-01 19:00:00'):
        return 'Evening'
    elif (time >=pd.to_datetime('1900-01-01 19:00:00') and time <=pd.to_datetime('1900-01-01 23:00:00'))or(time >=pd.to_datetime('1900-01-01 00:00:00') and time <=pd.to_datetime('1900-01-01 06:00:00')):
        return 'Evening'


# Now creating another column
mask = (df.Hour.notnull())

df['Bracket'] = df[mask].apply(lambda x: getBracket(x['Time']),axis=1)

df[['Time','Hour','Bracket']].head()

C:\Users\albab.ahmad\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

ValueError: unconverted data remains: AMAMAMAMAMAM

In [258]:
# Question 10.
#  How many patients are repeated visitors?
print sum(df['id'].value_counts() > 1)

37

In [217]:
# Question 11.
# Give us the id of repeated visitors.
from collections import Counter
freqs = Counter(df['id'])
mynewlist = []
for i in freqs:
    if freqs[i]>1:
        mynewlist.append(i)
print mynewlist

[1, 4, 12, 13, 17, 20, 25, 40, 45, 46, 59, 63, 64, 80, 88, 94, 96, 97, 100, 101, 107, 109, 112, 114, 116, 118, 120, 122, 130, 132, 133, 140, 145, 149, 150, 151, 153]

In [247]:
# Question 12
# Which patients visited again for the same problem?
a = df.groupby(['id']).Specialty.value_counts()
print a[a > 1]
# print (Counter(df['id']) > 1)

id   Specialty
12   Dentist            2
13   Orthopedic         2
17   Dentist            2
25   Gynae              2
40   Dentist            2
45   Dentist            3
63   Dentist            2
88   Dentist            2
96   Dentist            2
97   Psychotherapist    2
100  Dentist            2
101  Gynae              3
107  Dentist            2
109  Dentist            3
112  Orthopedic         2
114  Gynae              3
116  Dentist            2
120  M/o                2
130  Psychotherapist    2
132  Dentist            3
140  Dentist            4
145  Dentist            3
149  Dentist            2
151  Dentist            2
153  Dentist            2
Name: Specialty, dtype: int64

In [219]:
# Question 13
# What is the median age for Females and Males?
#import statistics
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
list(filter(lambda x: x != "", df["Sex"]))
df.groupby(['id'])
Median = np.nanmedian(df["Age"])
print Median

30.0

In [220]:
df['Age']
# Question 14
# What is the total amount in balance?
df['AmountBalance'] = df['AmountBalance'].replace("-", np.nan, regex=True)
df['AmountBalance'] = df['AmountBalance'].replace("nan", np.nan)
df['AmountBalance'] = df['AmountBalance'].replace(",", "", regex=True)
print df['AmountBalance'].unique()
df['AmountBalance'] = df['AmountBalance'].astype(float)
print np.nansum(df['AmountBalance'])

[nan '14000.00' '3000.00' '90000.00' '22000.00' '500']
222500.0

In [221]:
# Question 15
# How much money was made by Procedure Type "Consultation"?
df['TotalCharges'] = df['TotalCharges'].astype(float)
list(filter(lambda x: x == "Consultation", df['Procedure'])) 
print np.nansum(df['TotalCharges'])

786350.0

In [222]:
#Question 16
# Is there a relation between Age and Total Charges paid?
df['Age'] = df['Age'].astype(float)
df['TotalCharges']= df['TotalCharges'].astype(float)
age_total_charge = df[["Age", "TotalCharges"]]
age_total_charge.corr()

                  Age  TotalCharges
Age           1.00000       0.02809
TotalCharges  0.02809       1.00000

In [223]:
#Question 17
# Which Age group had highest number of visits?
from collections import Counter
df.groupby(['Age'])
list(filter(lambda x: x != "NA", df['Age'])) 
freqs = Counter(df['id']).most_common(1)
print freqs

[(1, 12)]

In [233]:
#Question 18
#What is the total cost earned by Procedure Type X Ray and Scalling together?
df['TotalCharges'] = df['TotalCharges'].astype(float)
df1 = df[(df["Procedure"] == "X Ray") | (df["Procedure"] == "Scalling")]["TotalCharges"]
np.nansum(df1)

22300.0